[project]
	description = this one is for the Ribbit application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/benifa
[access "refs/for/refs/*"]
	read = group user/benifa
	push = group user/benifa
	label-Code-Review = -2..+2 group user/benifa
	label-Verified = -1..+1 group user/benifa
	rebase = group user/benifa
	removeReviewer = group user/benifa
	submit = group user/benifa
[access "refs/heads/*"]
	read = group user/benifa
	create = group user/benifa
	push = +force group user/benifa
	pushMerge = group user/benifa
[access "refs/tags/*"]
	push = +force group user/benifa
	pushTag = group user/benifa
	pushSignedTag = group user/benifa
